@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root{
  --green:#07CA77;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;

}

body{
  background-color: #E1E1E1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1,h2,h3,h4,h5,h6,li,form{
  display: inline-block;
}

.greentext{
  color: var(--green);
}

.company, .name {
  font-size: 1vw;
}

.signacc{
  font-size: 3vw;
  font-weight: bolder;
}

.social > img{
  border: 1px grey solid;
  border-radius: 50%;
  padding: 0.8vw;
  width: 3vw;
}

.maincomp{
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  box-shadow: -5px -5px 20px rgb(204, 204, 204),
  5px 5px 20px rgb(204, 204, 204);
}

.signindiv{
  background-color: #FFFFFF;
  width: 50vw;
  padding: 1vw;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.flex{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.ul{
  padding: 2vw 16vw;
}

label,input{
  display:flex;
  flex-direction:column;
}

.email, .pass{
  padding: 0.5vw;
  width: 20vw;
  border-radius: 5px;
  border: 1px var(--green) solid;
}


label{
  position: relative;
  top: 10px;
  background-color: white;
  display: inline-block;
  left: 5px;
  font-size: 0.7vw;
  color: var(--green);
  font-weight: bold;
}

hr{
  width: 4vw;
  height: 0.5vh;
  border: none;
  background-color: var(--green);
  border-radius: 20px;
}

.hr{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  display: inline-block;
}

.oruse{
  color: #9F9F9F;
  font-size: 1vw;
}

.remfor{
  display: flex;
  justify-content: space-between;
}

.remfor > span{
  display: flex;
  gap: 2px;
}

.remfor > span > p{
  font-size: 0.8vw;
}

.remfor > a{
  font-size: 0.8vw;
}

a{
  color: #9F9F9F;
  text-decoration: none;
}

footer > ul{
  display: flex;
  justify-content: space-between;
  padding: 2vh 16vw;
  font-size: 0.8vw;
}

.submit{
  background-color: #0DCA78;
  border: none;
  padding: 0.5vw;
  width: 7vw;
  align-items: center;
  color: #FFFFFF;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 30px;
}

.signupdiv{
  background:linear-gradient(0deg, #07CC77, #10CC9C);
  width: 30vw;
  padding: 3rem;
  border-radius: 0px 30px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.signupdiv > h1{
    font-size: 3vw;
    font-weight: bolder;
    padding: 0.5vw;
}

.signupdiv > hr {
  background-color: white;
}

.signupdiv > p{
  font-size: 1.5vw;
  text-align: center;
  padding: 2vw;
}

.signupdiv > button{
  background-color: transparent;
  border: 1px white solid;
  color: white;
  padding: 0.5vw;
  width: 8vw;
  border-radius: 30px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}